---
title: Select your campus | authenticate using Shibboleth
---
<div class="select_campus">
  <div>
    <h1>Select your campus <small>authenticate using Shibboleth</small></h1>
    <div class="campus_links">
      <div><a data-entityid="urn:mace:incommon:berkeley.edu">UC Berkeley</a></div>
      <div><a data-entityid="urn:mace:incommon:ucdavis.edu">UC Davis</a></div>
      <div><a data-entityid="urn:mace:incommon:uci.edu">UC Irvine</a></div>
      <div><a data-entityid="urn:mace:incommon:ucla.edu">UCLA</a></div>
      <div><a data-entityid="urn:mace:incommon:ucmerced.edu">UC Merced</a></div>
      <div><a data-entityid="urn:mace:incommon:ucop.edu">UC Office of the President</a></div>
      <div><a data-entityid="urn:mace:incommon:ucr.edu">UC Riverside</a></div>
      <div><a data-entityid="urn:mace:incommon:ucsd.edu">UC San Diego</a></div>
      <div><a data-entityid="urn:mace:incommon:ucsf.edu">UC San Francisco</a></div>
      <div><a data-entityid="urn:mace:incommon:ucsb.edu">UC Santa Barbara</a></div>
      <div><a data-entityid="urn:mace:incommon:ucsc.edu">UC Santa Cruz</a></div>
    </div>
    <div class="help"> 
      <div class="alert alert-warning">
        <h2>Logout notice</h2>
        <div>
	  <p>After you log in to your local campus authentication
	  system—for some period of time a Shibboleth session stays active
	  and this browser will be able to access 
	  services <em>in addition to this one</em> without requiring
	  an additional login. 
          <small><a href="http://www.oit.uci.edu/idm/Access/Shibboleth/slo.php">more info</a></small>
          </p>

	  <p>Please lock your workstation or exit and restart your
	  browser in order to protect your accounts from unauthorized
	  access if your workstation is not in a secure location. </p>

        </div>
      </div>
      <div class="alert alert-info">Contact: <%= mail_to settings.email %></div>
    </div>
  </div>
</div>
